.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.layer {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.layer[data-depth='0.2'] {
  filter: blur(1.5px);
}

.layer[data-depth='0.4'] {
  filter: blur(1px);
}

.name {
  font-size: 8vw;
  position: absolute;
}

.first {
  top: 150px;
  left: 40vw;
}

.last {
  top: 250px;
  left: 50vw;
}

.cmd {
  position: absolute;
  top: 420px;
  left: 40vw;
  width: 20vw;
  min-width: 400px;
  text-align: initial;
}
